@model IEnumerable<Reader>
@{
    ViewData["Title"] = "List";
}

<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Reader" asp-action="Create">Create new reader</a>

<div class="row">
    @foreach (var reader in Model)
    {
        @Html.Partial("ReaderPartial", reader)
    }
</div>